@import url(./conteudo.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content {
  padding-bottom: 1.2vh;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
.menu-nav {
  display: flex;
  justify-content: space-between;
}
